<div class="row">
  <div class="col-md-10 offset-md-2">
<h1>Lista de libros</h1>

<table>
    <tr>
     <thead>
       <th>Title</th>
       <th>Author</th>
       <th>Status</th>
     </thead>
    </tr>
      <% @bibliotecas.each do |biblioteca| %> 
        <div class="form-group">
          <td><%= biblioteca.title%></td>
          <td><%= biblioteca.author%></td>
          <td><%= biblioteca.status%></td>
        </div>
        

        <td>
          <%= link_to "Show" %>
          <%= link_to "Edit", edit_biblioteca_path(biblioteca) %>
          <%= link_to "Delete", biblioteca, method: :delete, data: {confirm: "Deseas eliminar este libro"} %>

        </td>
    </tr>
      <% end%>
      
</table>
        <%= link_to "Ingresar libro", bibliotecas_new_path %>
  </div>
</div>
<%= paginate @bibliotecas %>