<div>
<%= form_for @bibliotecas do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :author %>
        <%= f.text_field :author %>
    </div>
    <div>
        <%= f.label :status %>
        <%= f.text_field :status %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>
</div>